<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>App uses camera to take and instantly upload photos on your profile.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb186640165981371</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.640617421139-pfl53bockpnc74fv5t16jnc37fj996bb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>FacebookAppID</key>
	<string>186640165981371</string>
	<key>FacebookDisplayName</key>
	<string>Sparks</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App uses this to find spark message recipients nearby. To receive messages more accurately, we suggest you to set location permission to &apos;Always&apos;.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App uses this to find spark message recipients nearby. To receive messages more accurately, we suggest you to set location permission to &apos;Always&apos;.</string>
	<key>NSLocationUsageDescription</key>
	<string>App uses this to find spark message recipients nearby. To receive messages more accurately, we suggest you to set location permission to &apos;Always&apos;.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App uses this to find spark message recipients nearby. To receive messages more accurately, we suggest you to set location permission to &apos;Always&apos;.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-BlackItalic.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-SemiboldItalic.otf</string>
		<string>SF-Pro-Display-BoldItalic.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-HeavyItalic.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-LightItalic.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-MediumItalic.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-RegularItalic.otf</string>
		<string>SF-Pro-Display-Thin.otf</string>
		<string>SF-Pro-Display-ThinItalic.otf</string>
		<string>SF-Pro-Display-Ultralight.otf</string>
		<string>SF-Pro-Display-UltralightItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
